<div id="this" class="flat-section what-we-do pb-md-120" data-scroll-index="2">
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-md-6 text-center">
                    <img src="img/poster.jpg" alt="poster">
                </div>
                <div class="col-md-6">
                    <div class="section-title mt-80">
                        <h5>@moreabout@</h5>
                        <span class="separator-dots"><span class="separator-dots-inner"></span></span>
                    </div>
                    <div class="box-info-1 mb-40">
                        <div class="box-icon"><i class="icon-lightbulb"></i></div>
                        <div class="box-content">
                            <h5>@onetitle@</h5>
                            <p>@onedir@</p>
                        </div>
                    </div>
                    <div class="box-info-1 mb-40">
                        <div class="box-icon"><i class="icon-layers"></i></div>
                        <div class="box-content">
                            <h5>@twotitle@</h5>
                            <p>@twodir@</p>
                        </div>
                    </div>
                    <div class="box-info-1 mb-40 mb-md-0">
                        <div class="box-icon"><i class="icon-strategy"></i></div>
                        <div class="box-content">
                            <h5>@threetitle@</h5>
                            <p>@threedir@</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>