{{LOADSCROLL}}
<div id="full-container">
    {{HEADER}}
    {{BANNER}}
    <section id="content">
        <div id="content-wrap">

            {{AIM}}

            {{THISP}}

            <div id="register-now" class="flat-section register-now" data-scroll-index="3">
                <div class="section-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="register-form-box">
                                    {{REGISTERNOW}}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="contactus" class="flat-section featured-plans" data-scroll-index="4">
                <div class="section-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                {{CONTACT}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="login" class="flat-section our-clients" data-scroll-index="5">
                <div class="section-content">
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12">
                                {{SPUNSERS}}
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="parallax-section cta-title-1" data-scroll-index="5">
                <div class="section-inner">
                    <div class="container">
                        <div class="row">
                            <div class="section-content">
                                <div class="col-md-8 col-md-offset-2">
                                    <div class="section-title text-white text-center">
                                        {{LOGIN}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

    {{FOOTER}}

</div>

<a class="scroll-top" href="#"><i class="fa fa-angle-up"></i></a>

{{SCRIPTS}}