<div id="weaim" class="flat-section featured-projects" data-scroll-index="1">
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">

                    <div class="section-title text-center">
                        <h5>@weaim@</h5>
                        <span class="separator-dots"><span class="separator-dots-inner"></span></span>
                        <p>
                            @aboutaim@
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>