<div class="register-form-box">
    <h2>@contactus@</h2>
    <form id="contact">
        <div class="rfc-notifications">
            <div class="rfc-notifications-cont"></div>
        </div>
        <div class="form-group">
            <input type="text" name="namec" id="namec" class="form-control" placeholder="@yourname@">
        </div>
        <div class="form-group">
            <input type="text" name="emailc" id="emailc" class="form-control" placeholder="@youremail@">
        </div>
        <div class="form-group">
            <textarea name="textc" id="textc" class="form-control" placeholder="@yourpm@"></textarea>
        </div>
        <div class="form-group">
            <input type="submit" class="form-control" value="@send@">
        </div>
    </form>
</div>