<section id="banner" data-scroll-index="0">
    <div class="banner-parallax" data-stellar-background-ratio="0.2">
        <div class="overlay-colored" data-bg-color="#000" data-bg-color-opacity="0.8"></div>
        <div class="video-background" data-property="{videoURL:'images/video.mp4'}"></div>
        <div class="slide-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="banner-center-box text-white text-center">
                            <h1>@paradox@</h1>
                            <span class="separator-dots"><span class="separator-dots-inner"></span></span>
                            <div class="description">
                                @bannertit@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>