<link href="{{ADDRESS}}css/style.css" rel="stylesheet">
<link href="{{ADDRESS}}css/style-rtl.css" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Ubuntu:400,700|Open+Sans:400,400i,600,600i,700,700i" rel="stylesheet">