<header id="header" class="style-1" data-scroll-index="0">
    <div id="header-wrap">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a class="logo" href="#">
                        <img height="80px" src="{{ADDRESS}}img/logo.jpg" alt="">
                        <h5><span class="colored">Scour</span></h5>
                        <span>Landing Template</span>
                    </a>
                    {{MENU}}
                    <div class="mobile-menu-btn hamburger hamburger--slider">
                            <span class="hamburger-box">
                                <span class="hamburger-inner"></span>
                            </span>
                    </div>
                    <div class="clearfix"></div>
                    <div id="mobile-menu"></div>
                </div>
            </div>
        </div>
    </div>
</header>