<footer id="footer-mini">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <img class="logo-footer" height="50px" style="margin-left: 20px;" src="{{ADDRESS}}img/motto.jpg" alt="">
                <div class="copyrights-message"><span class="colored">PARADOX</span> All Rights Reserved &copy; <span id="year-copy"></span></div>
            </div>
        </div>
    </div>
</footer>