<script src="{{ADDRESS}}js/base/jquery-2.2.0.min.js"></script>
<script src="{{ADDRESS}}js/base/jRespond.min.js"></script>
<script src="{{ADDRESS}}js/base/jquery.easing.min.js"></script>
<script src="{{ADDRESS}}js/base/jquery.fitvids.js"></script>
<!--<script src="js/jquery.waypoints.min.js"></script>-->
<!--<script src="js/jquery.stellar.js"></script>-->
<script src="{{ADDRESS}}js/base/owl.carousel.min.js"></script>
<script src="{{ADDRESS}}js/base/jquery.mb.YTPlayer.min.js"></script>
<!--<script src="js/hoverIntent.js"></script>-->
<script src="{{ADDRESS}}js/base/simple-scrollbar.min.js"></script>
<script src="{{ADDRESS}}js/base/superfish.js"></script>
<script src="{{ADDRESS}}js/base/scrollIt.min.js"></script>
<script src='{{ADDRESS}}js/base/jquery.magnific-popup.min.js'></script>
<script src="{{ADDRESS}}js/base/jssocials.min.js"></script>
<script src='{{ADDRESS}}js/base/jquery.validate.min.js'></script>
<script src='{{ADDRESS}}js/base/messages_fa.js'></script>
<script src='{{ADDRESS}}js/base/functions.js'></script>