<!DOCTYPE html>
<html lang="@lang@">
    <head>
        <meta charset="UTF-8">
        <title>@titles@{{NAME}}</title>
        <meta name="viewport" content="width=device-width, intial-scale=1, max-scale=1">
        <link rel="shortcut icon" href="{{ADDRESS}}img/favicon.jpg">
     	<link rel="apple-touch-icon" href="{{ADDRESS}}img/favicon.jpg">
       	<link rel="apple-touch-icon" sizes="72x72" href="{{ADDRESS}}img/favicon.jpg">
    	<link rel="apple-touch-icon" sizes="114x114" href="{{ADDRESS}}img/favicon.jpg">
        {{IMPORT}}
    </head>
    <body>
        {{CONTBODY}}
    </body>
</html>