<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@titles@</title>
    <meta property="og:type" content="website" />
    <meta property="og:image" content="img/bg-one.jpg" />
    <link rel="stylesheet" href="css/on/bootstrap.min.css">
    <link rel="stylesheet" href="css/on/aos.css">
    <link rel="stylesheet" href="css/on/style.css">
</head>

<body style="direction: @direction@">
<div class="animation anim-dark" data-aos="slide-effect-2">
    <div class="wrapper animation-inner">
        <div class="background bg-one overlay">
        </div>
        <div class="content-section d-flex justify-content-center align-items-center">
            <div class="v-lines">
                <div class="vline-1"></div>
                <div class="vline-2"></div>
                <div class="vline-3"></div>
                <div class="vline-4"></div>
            <div class="container">
                <div class="center-content text-light align-self-center">
                    <img src="img/motto.jpg" class="img-fluid" alt="creative freedom" data-aos="fade" data-aos-delay="1800" />
                    <p class="lead my-4" data-aos="fade" data-aos-delay="2500">@abon@</p>

                    <p class="text-center lead" style="direction: ltr" data-aos="fade" data-aos-delay="2850">+98 938-377-7390</p>
                    <p class="text-center lead"><a href="mailto:smaeilyh@gmail.com" style="color: white" data-aos="fade" data-aos-delay="2850">SmaeilyH@gmail.com</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="js/base/jquery-2.2.0.min.js"></script>
<script src="js/on/bootstrap.min.js"></script>
<script src="js/on/aos.js"></script>

<script src="js/on/script.js"></script>
</body>

</html>