<div class="flat-section portfolio-single">
    <div class="section-content">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="section-title">
                        <h2>@team@ : {{CODE}}</h2>
                        <span class="separator-dots"><span class="separator-dots-inner"></span></span>
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="btn colorful">
                        <p>@userpagetit@</p>
                    </div>
                </div>
                <div class="col-md-12 text-center mt-50 anim-moveUp">
                    {{BTNDOWNQ}}
                    {{BTNANSWER}}
                </div>
            </div>
        </div>
    </div>
</div>